title: GarPe Escritos
email: email@hotmail.com
description: >-
  Free book-like PDF notes shared openly.
url: "https://jegarfa.github.io"

minimal_mistakes_skin: default
search: true

markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
theme: null

collections:
  books:
    output: true
    permalink: /books/:title/

include:
  - _pages

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false

  - scope:
      path: ""
      type: books
    values:
      layout: single
      author_profile: false

