---
---

@import "minimal-mistakes";

.archive__item-teaser {
  height: auto;
  width: auto;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  background: #f2f2f2;
  display: block;
}

.archive__item-teaser img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

