---
---

@import "minimal-mistakes";

.archive__item-teaser {
  /* Option A: aspect ratio for taller books */
  // aspect-ratio: 2 / 4;

  /* or Option B: fixed height */
  height: 350px;
  width: auto;

  overflow: hidden;
  background: #f2f2f2;
  display: block;
}

.archive__item-teaser img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

